<div class="destaques-mes-container container">
  <div class="row g-4 row-cols-1 row-cols-sm-2 row-cols-lg-4 row-cols-xxl-4">
    <div class="col" *ngFor="let item of destaquesMes">
      <a [routerLink]="['/items', item.id]" class="card-link">

        <article class="destaque-card">
          <img
            [src]="item.thumbnail"
            [alt]="item.title"
            class="destaque-img"
          >

          <h5 class="destaque-title">
            {{ item.title }}
          </h5>
        </article>

      </a>
    </div>
  </div>
</div>
