<footer class="text-dark pt-4" style="background-color:#D5D5D5;">
  <div class="container text-black pt-4 pb-2" style="background-color:#D5D5D5;">
    <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-start gap-4">
      <div class="text-center text-lg-start fw-bold">
        <img src="assets/images/CREJA_ALFAEJABRASIL.svg" alt="ALFA-EJA Brasil" class="img-fluid mb-2"
          style="max-width:350px;">
        <p class="mb-0" style="font-weight: bold; color: black;">Educação para jovens, adultos e idosos</p>
      </div>

      <nav class="fw-bold text-center text-lg-start" aria-label="Links principais">
        <ul class="list-unstyled d-flex flex-column gap-2 mb-0" style="color: black; text-decoration: none;">
          <li><a routerLink="/" class="text-decoration-none d-inline-block">Pesquisas e Memórias</a></li>
          <li><a routerLink="/" class="text-decoration-none d-inline-block">Práticas Alfabetizadoras</a></li>
          <li><a routerLink="/" class="text-decoration-none d-inline-block">Vozes da EJA</a></li>
        </ul>
      </nav>

      <nav class="fw-bold text-center text-lg-start" aria-label="Institucional">
        <ul class="list-unstyled d-flex flex-column gap-2 mb-0">
          <li><a routerLink="/" class="text-decoration-none d-inline-block">Redes</a></li>
          <li><a routerLink="/" class="text-decoration-none d-inline-block">Sobre o CREJA</a></li>
        </ul>
      </nav>
    </div>

    <hr class="my-4">

    <div
      class="d-flex flex-column flex-sm-row justify-content-center justify-content-lg-between align-items-center gap-4" style="font-weight: bold; color: black;">
      <div class="text-center">
        <p class="mb-2">Realização</p>
        <img src="assets/images/logo_ipf_preto.png" alt="Instituto Paulo Freire" class="img-fluid"
          style="max-width:180px;">
      </div>

      <div class="text-center">
        <p class="mb-2">Parceria</p>
        <img src="assets/images/logo_petrobras_preto.png" alt="Petrobras" class="img-fluid" style="max-width:180px;">
      </div>
    </div>
  </div>

  <div class="text-center py-2 small" style="background-color:#D5D5D5; color:black; font-weight: bold;">
    INSTITUTO DE EDUCAÇÃO E DIREITOS HUMANOS PAULO FREIRE | CNPJ 04.950.603/0001-05
  </div>
</footer>