.custom-container {
  padding: 0 1rem;
  max-width: 100%;
}

@media (min-width: 768px) {
  .custom-container {
    padding: 0 3rem;
  }
}

@media (min-width: 1200px) {
  .custom-container {
    padding: 0 6rem;
  }
}

a[routerLink],
a[routerLink]:hover,
a[routerLink]:visited,
a[routerLink]:focus {
  color: #000 !important;
  font-weight: bold;
  text-decoration: none;
}