<footer class="footer" [style.background-color]="footerBottomColor">

  <div class="container footer-container">

    <div class="footer-main">

      <div class="footer-left">
        <img [src]="config.logo"
             alt="CREJA Logo"
             class="footer-logo">

        <p class="footer-description">
          CREJA é um Centro de Referência da
          Educação de Jovens e Adultos.
        </p>
      </div>

      <!-- LINKS MOBILE -->
      <div class="footer-links-mobile">
        <nav>
          <ul class="footer-links">
            <li><a [routerLink]="config.home">Home</a></li>
            <li *ngIf="config.collections?.pesquisas">
              <a [routerLink]="config.collections?.pesquisas">Pesquisas e Memórias</a>
            </li>
            <li *ngIf="config.collections?.vozes">
              <a [routerLink]="config.collections?.vozes">Vozes</a>
            </li>
            <li><a routerLink="/">Pesquisar</a></li>
            <li><a [routerLink]="config.sobre">Como Colaborar</a></li>
            <li><a [routerLink]="config.privacidade">Política de Privacidade</a></li>
          </ul>
        </nav>

        <nav>
          <ul class="footer-links">
            <li><a [routerLink]="config.sobre">Sobre o CREJA</a></li>
            <li *ngIf="config.collections?.praticas">
              <a [routerLink]="config.collections?.praticas">Práticas Alfabetizadoras</a>
            </li>
            <li><a [routerLink]="config.redes">Redes</a></li>
            <li><a [routerLink]="config.ajuda">Ajuda</a></li>
            <li><a [routerLink]="config.termos">Termos de Uso</a></li>
            <li><a routerLink="/">Fale Conosco</a></li>
          </ul>
        </nav>
      </div>

      <!-- LINKS DESKTOP -->
      <div class="footer-links-desktop">
        <nav>
          <ul class="footer-links">
            <li><a [routerLink]="config.home">Home</a></li>
            <li><a [routerLink]="config.sobre">Sobre o CREJA</a></li>
            <li *ngIf="config.collections?.pesquisas">
              <a [routerLink]="config.collections?.pesquisas">Pesquisas e Memórias</a>
            </li>
            <li *ngIf="config.collections?.praticas">
              <a [routerLink]="config.collections?.praticas">Práticas Alfabetizadoras</a>
            </li>
            <li *ngIf="config.collections?.vozes">
              <a [routerLink]="config.collections?.vozes">Vozes</a>
            </li>
          </ul>
        </nav>

        <nav>
          <ul class="footer-links">
            <li><a [routerLink]="config.redes">Redes</a></li>
            <li><a routerLink="/">Pesquisar</a></li>
            <li><a [routerLink]="config.ajuda">Ajuda</a></li>
            <li><a [routerLink]="config.sobre">Como Colaborar</a></li>
          </ul>
        </nav>

        <nav>
          <ul class="footer-links">
            <li><a [routerLink]="config.termos">Termos de Uso</a></li>
            <li><a [routerLink]="config.privacidade">Política de Privacidade</a></li>
            <li><a routerLink="/">Fale conosco</a></li>
          </ul>
        </nav>
      </div>

    </div>

    <hr>

    <div class="footer-logos">
      <div>
        <p>Realização</p>
        <img src="assets/images/logo_ipf_preto.png" alt="IPF">
      </div>

      <div *ngIf="currentCommunity === 'alfa' || currentCommunity === 'default'">
        <p>Parceria</p>
        <img src="assets/images/logo_petrobras_preto.png" alt="Petrobras">
      </div>
    </div>

  </div>

  <hr>

  <div class="footer-ipf-text">
    INSTITUTO DE EDUCAÇÃO E DIREITOS HUMANOS PAULO FREIRE | CNPJ 04.950.603/0001-05
  </div>

</footer>
