.card {
  margin-bottom: 1rem;
  border: 1px solid #9602C7;
  background-color: #9602C7;
}

.card-header {
  cursor: pointer;
  font-weight: bold;
  background-color: #9602C7;
  user-select: none;
  font-size: 16px;
}

.card-header i {
  font-size: 1.25rem;
}

.list-group-item {
  font-size: 14px;
  padding: 0.5rem 1rem;
}

.custom-container {
  padding: 0 15rem;
  max-width: 100%;
}