<div class="filter-container custom-container row">
  <div class="col-md-3" *ngFor="let filter of filtros">
    <div class="card">
      <div class="card-header text-white d-flex justify-content-between align-items-center" (click)="toggle(filter)">
        {{ filter.nome }}
        <span [class]="filter.aberto ? 'bi bi-dash' : 'bi bi-plus'"></span>
      </div>
      <div *ngIf="filter.aberto" class="list-group list-group-flush">
        <button *ngFor="let opcao of filter.opcoes" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
          {{ opcao.nome }}
          <span class="badge bg-light text-dark rounded-pill">{{ opcao.qtd }}</span>
        </button>
      </div>
    </div>
  </div>
</div>