.banner-alfaeja {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 0 !important;

  display: flex;
  justify-content: center; // 👈 centraliza a imagem
}

.banner-alfaeja img {
  width: 100%;
  max-width: 1440px; // 👈 limite máximo
  height: auto;
  display: block;
}