<div class="container">
  <div class="card">
    <img src="https://www.acervo.paulofreire.org/assets/acervo/images/logo-top.png" alt="CREJA - Paulo Freire" />
    <div class="card-divider"></div>
    <div class="card-title"><strong>CREJA - Paulo Freire</strong></div>
  </div>

  <div class="card">
    <img src="https://assets.brasildefato.com.br/2024/09/image_processing20200201-29235-stgihu.jpg" alt="CREJA - IPF" />
    <div class="card-divider"></div>
    <div class="card-title"><strong>CREJA - IPF</strong></div>
  </div>

  <a [routerLink]="['/home']" class="card card-link">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRN-eDEy0Bvpav33qDC77FN3xslxNfWAa76VQ&s" alt="CREJA - ALFAEJA" />
    <div class="card-divider"></div>
    <div class="card-title"><strong>CREJA - ALFAEJA</strong></div>
  </a>
</div>
