.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 1rem;
}

.card {
  width: 300px;
  height: 280px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  flex-shrink: 0;
}

/*.card-divider {
  height: 1px;
  background-color: #ccc;
  margin: 0.5rem 0;
} */

.card-title {
  padding: 0.5rem;
  font-weight: bold;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-link {
  display: flex;
  flex-direction: column;
}

.title {
  padding: 0.5rem;
  font-weight: bold;
  font-size: x-large;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #421944;
}
