<div class="mt-5">
  <div class="title"><strong>CREJA's</strong></div>
</div>

<div class="container mb-5 mt-3">
  <div class="card">
    <img src="https://www.acervo.paulofreire.org/assets/acervo/images/logo-top.png" alt="CREJA - Paulo Freire" />
    <div class="card-divider"></div>
    <div class="card-title"><strong>CREJA - Paulo Freire</strong></div>
  </div>

  <div class="card">
    <img src="https://www.acervo.paulofreire.org/assets/acervo/images/logo-top.png" alt="CREJA - IPF" />
    <div class="card-divider"></div>
    <div class="card-title"><strong>CREJA - IPF</strong></div>
  </div>

  <a [routerLink]="['/home']" class="card card-link">
    <img src="assets/images/alfa-eja-logo.png" alt="CREJA - ALFAEJA" />
    <div class="card-divider"></div>
    <div class="card-title"><strong>CREJA - ALFAEJA</strong></div>
  </a>
</div>
