<section
  class="home-social-section"
  [ngStyle]="{
    'background-color': backgroundColor,
    'color': textColor
  }"
>

  <!-- TÍTULO -->
  <h2 class="social-title">
    Acesse mais conteúdos em:
  </h2>

  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-6">
        <a href="https://www.youtube.com/@alfaejabrasil" target="_blank" rel="noopener" class="social-item">
          <img src="assets/images/youtube-alfaeja.svg" alt="YouTube">
          <span>alfaejabrasil</span>
        </a>
      </div>
      <div class="col-lg-3 col-6">
        <a href="https://www.instagram.com/alfaejabrasil/" target="_blank" rel="noopener" class="social-item">
          <img src="assets/images/instagram-alfaeja.svg" alt="Instagram">
          <span>&#64;alfaejabrasil</span>
        </a>
      </div>
      <div class="col-lg-3 col-6 pt-5 pt-lg-0">
        <a href="https://www.facebook.com/alfaejabrasil" target="_blank" rel="noopener" class="social-item">
          <img src="assets/images/facebook-alfaeja.svg" alt="Facebook">
          <span>alfaejabrasil</span>
        </a>
      </div>
      <div class="col-lg-3 col-6 pt-5 pt-lg-0">
        <a href="https://www.alfaejabrasil.org.br/" target="_blank" rel="noopener" class="social-item">
          <img src="assets/images/alfa-eja.svg" alt="Site">
          <span>www.alfaejabrasil.org.br</span>
        </a>
      </div>
    </div>
  </div>
</section>
