.home-social-section {
  padding: 80px 0;     // 👈 já vamos aumentar
  margin-bottom: 0;
  margin-top: 0 !important;
}

.social-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;   // espaço igual ao design
}

.social-item {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  font-size: 26px;
  font-weight: 500;
  transition: 0.3s ease;
  color: inherit;
}

.social-item img {
  width: 55px;
  height: 45px;
}

.social-item:hover {
  opacity: 0.8;
}
