.crejas-section {
  padding: 100px 0;
  background: #ffffff;
}

/* =========================
   TÍTULO
========================= */

.crejas-title {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.crejas-title-img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* =========================
   CARDS
========================= */

.crejas-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;                 /* mais espaço lateral */
  max-width: 1070px;         /* 🔥 cards mais largos */
  margin: 0 auto;            /* centraliza */
}

/* CARD */

.creja-card {
  background: #f7e1e5;
  border: 1px solid #e2a4b1;
  border-radius: 22px;
  padding: 30px 20px 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease;
  min-height: 210px;        /* 🔥 menos alto */
}

.creja-card:hover {
  transform: translateY(-6px);
}

/* TÍTULO */

.creja-card h3 {
  font-family: 'Besley', serif;
  font-weight: 700;      // Bold
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0;
  color: #a0183c;
  margin-bottom: 15px;
}

/* TEXTO */

.creja-card p {
  font-family: 'Besley', sans-serif;  /* 🔥 alterado */
  font-weight: 400;                        /* Regular */
  font-size: 16px;                         /* 🔥 16px */
  line-height: 1.3;
  letter-spacing: 0;
  color: #000000;
  text-align: left;
  flex-grow: 1;
  margin-bottom: 25px;
}

/* BOTÃO */

.creja-card a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.creja-btn {
  align-self: flex-start;
  background: #a0183c;
  padding: 10px 28px;
  border-radius: 28px;
  display: inline-block;
  transition: 0.3s;
}

.creja-btn:hover {
  opacity: 0.9;
}
