.crejas-section {
  padding: 100px 0;
  background: #ffffff;
}

/* =========================
   TÍTULO
========================= */

.crejas-title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.crejas-title-img {
  width: 100%;        // 👈 ocupa toda largura do container
  max-width: 100%;    // remove limitação anterior
  height: auto;
}

.crejas-title h2 {
  font-size: 36px;
  font-weight: 700;
  color: #a0183c;
  letter-spacing: 2px;
}

.ornament {
  font-size: 30px;
  color: #a0183c;
}

/* =========================
   CARDS
========================= */

.crejas-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1150px;   // 👈 largura menor que o título
  margin: 0 4%;
}

.creja-card {
  background: #f7e1e5;
  border: 1px solid #e2a4b1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease;
  padding: 25px;
  min-height: 240px;
}

.creja-card:hover {
  transform: translateY(-5px);
}

.creja-card h3 {
  font-family: 'Besley', serif;
  font-weight: 700;      // Bold
  font-size: 32px;
  line-height: 1.08;     // 108%
  letter-spacing: 0;
  color: #a0183c;
  margin-bottom: 15px;
}


.creja-card p {
  font-family: 'Besley', serif;
  font-weight: 400;      // Regular
  font-size: 20px;
  line-height: 1.6;
  flex-grow: 1;     // 108%
  letter-spacing: 0;
  color: black;
  text-align: left;
  hyphens: auto;
}

.creja-card a {
  font-family: 'Besley', serif;
  font-weight: 500;      // Medium
  font-size: 20px;
  line-height: 1.08;     // 108%
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  color: white;
}


.creja-btn {
  align-self: flex-start;
  margin-top: 20px;
  background: #a0183c;
  color: white;
  text-decoration: none;  // 👈 remove sublinhado
  padding: 10px 26px;
  border-radius: 25px;
  display: inline-block;
  transition: 0.3s;
}

.creja-btn:hover {
  background: #a0183c;
}
