<app-banner-ipf
  imageUrl="assets/images/banner-creja-ipf.png"
  height="auto">
</app-banner-ipf>

<app-informacoes-ipf></app-informacoes-ipf>

<div class="container py-4">
  <!-- Cabeçalho -->
  <div class="row justify-content-center my-4">
    <div class="col-12 d-flex justify-content-center align-items-center gap-3 flex-wrap">
      <img src="assets/images/linha.svg" alt="linha" class="title-line d-none d-md-inline-block img-fluid">
      <img src="assets/images/Destaques.svg" alt="Destaques" class="title-img img-fluid">
      <img src="assets/images/linha.svg" alt="linha" class="title-line d-none d-md-inline-block img-fluid">
    </div>
  </div>

  <!-- Texto -->
  <div class="row justify-content-center mb-5">
    <div class="col-12 col-lg-9 col-xxl-8 text-center">
      <p class="section-lead mb-0">
        Veja os destaques no CREJA que registram momentos históricos e inspiradores da 
        Educação de Jovens e Adultos (EJA), evidenciando a atuação de Paulo Freire e 
        experiências de alfabetização transformadora.  
      </p>
    </div>
  </div>
</div>

<ds-destaques-mes></ds-destaques-mes>

<br> <br> <br> <br>

<app-home-social></app-home-social>


