// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Besley:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.facet-filter, .setting-option, .advanced-search {
  background-color: var(--bs-light);
  border-radius: var(--bs-border-radius);

  &.p-3 {
    // Needs !important because the original bootstrap class uses it
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .badge-secondary {
    background-color: var(--bs-primary);
  }

  h4, .h4 {
    font-size: 1.1rem
  }
}

// Remove margem nas páginas customizadas
main.my-cs:has(ds-creja-home,ds-ipf-home,ds-paulo-freire-home,ds-redes-page,app-saiba-mais-creja,ds-sobre-creja-page,ds-home-page,ds-themed-home-page) { 
  margin-top: 0;
  margin-bottom: 0;
}
