<div class="pesquisa-memorias-page container-fluid px-3 px-sm-4" *ngIf="collectionRD$ | async as rd">
  <ng-container *ngIf="rd.hasSucceeded; else loadingOrError">

    <!-- 1) Cabeçalho e título -->
    <div class="pm-header text-center" *ngIf="rd.payload as collection">
      <div class="pm-header-title flex-wrap">
        <img src="assets/images/linha.svg" alt="" class="pm-line d-none d-md-inline-block img-fluid">

        <ng-container [ngSwitch]="collection.id">
          <img *ngSwitchCase="'420f504b-2ede-4acc-b302-666a8c58ffbf'" src="assets/images/Pesquisas e memórias.svg"
            alt="Pesquisas e Memórias" class="pm-title-img img-fluid">

          <img *ngSwitchCase="'ac9d871b-3cc2-4b4e-9097-8dcfe40dd20f'" src="assets/images/PraticasAlfabetizadoras.svg"
            alt="Práticas Alfabetizadoras" class="pm-title-img img-fluid">

          <img *ngSwitchCase="'8d031651-c18f-4011-ac15-a28c3e69b78e'" src="assets/images/vozes-da-eja.svg"
            alt="Vozes da EJA" class="pm-title-img img-fluid">

          <img *ngSwitchDefault src="assets/images/Destaques.svg" alt="Destaques" class="pm-title-img img-fluid">
        </ng-container>

        <img src="assets/images/linha.svg" alt="" class="pm-line d-none d-md-inline-block img-fluid">
      </div>

      <!-- subtítulos -->
      <ng-container [ngSwitch]="collection.id">
        <p class="pm-subtitle mx-auto" *ngSwitchCase="'420f504b-2ede-4acc-b302-666a8c58ffbf'">
          Na coleção Pesquisas e Memórias do CREJA, você encontrará materiais produzidos por pessoas e instituições que
          pesquisam a Educação de Jovens, Adultos e Idosos (EJA) no Brasil. São documentos que registram experiências,
          práticas e ações no campo da alfabetização e da educação popular, preservando a memória e fortalecendo a
          construção de
          saberes comprometidos com a transformação social.
        </p>

        <p class="pm-subtitle mx-auto" *ngSwitchCase="'ac9d871b-3cc2-4b4e-9097-8dcfe40dd20f'">
          A coleção Práticas Alfabetizadoras apresenta experiências de alfabetização de jovens, adultos e idosos
          inspiradas nos princípios
          filosófico-político-pedagógicos freirianos, visando a uma educação emancipadora e humanizadora. A coleção
          valoriza práticas diversas
          e transformadoras em todo o Brasil. Nesta coleção, você vai encontrar práticas alfabetizadoras que valorizam e
          promovem a participação
          ativa dos alunos, a realidade como ponto de partida para o aprendizado, a relação horizontal entre educador(a)
          e educando(a), baseada
          no diálogo e no compartilhamento de experiências.
        </p>

        <p class="pm-subtitle mx-auto" *ngSwitchCase="'8d031651-c18f-4011-ac15-a28c3e69b78e'">
          A coleção Vozes da EJA reúne relatos vividos por educadores(as) e educandos(as) em diferentes contextos da
          Educação de Jovens,
          Adultos e Idosos. São histórias de vida que documentam relações humanas, vidas e realidades transformadas pela
          educação, fortalecendo
          a memória coletiva e dando visibilidade a trajetórias de luta, aprendizado e transformação social construídas
          no cotidiano da EJA em todo o país.
        </p>
      </ng-container>

      <!-- busca -->
      <div class="pm-search">
        <input type="text" class="form-control" placeholder="Digite aqui o que você procura" [(ngModel)]="searchTerm"
          (ngModelChange)="filter()" aria-label="Busca na coleção" />
        <span class="pm-search-icon"><i class="fas fa-search"></i></span>
      </div>
    </div>

    <!-- 2) Conteúdo: filtros + listagem -->
    <div class="pm-content container row gx-4 gy-4" *ngIf="rd.payload as collection">

      <!-- filtros -->
      <aside class="pm-filters col-12 col-lg-3">
        <!-- botão mobile -->
        <button class="btn btn-outline-secondary w-100 d-lg-none mb-3" type="button" (click)="toggleFiltersMobile()"
          [attr.aria-expanded]="showFilters" aria-controls="filtersCollapse">
          Filtros
        </button>

        <div id="filtersCollapse" class="collapse d-lg-block" [class.show]="showFilters">
          <div class="pm-filter-group">
            <h6>Temas</h6>
            <div *ngFor="let tema of temas" class="form-check">
              <input class="form-check-input" type="checkbox" [id]="tema" [(ngModel)]="selectedTemas[tema]"
                (change)="filter()" />
              <label class="form-check-label" [for]="tema">{{ tema }}</label>
            </div>
          </div>

          <div class="pm-filter-group">
            <h6>Regiões</h6>
            <div *ngFor="let reg of regioes" class="form-check">
              <input class="form-check-input" type="checkbox" [id]="reg" [(ngModel)]="selectedRegioes[reg]"
                (change)="filter()" />
              <label class="form-check-label" [for]="reg">{{ reg }}</label>
            </div>
          </div>

          <div class="pm-filter-group">
            <h6>Municípios</h6>
            <div *ngFor="let mun of municipios" class="form-check">
              <input class="form-check-input" type="checkbox" [id]="mun" [(ngModel)]="selectedMunicipios[mun]"
                (change)="filter()" />
              <label class="form-check-label" [for]="mun">{{ mun }}</label>
            </div>
          </div>

          <div class="pm-filter-group">
            <h6>Tipo de Documento</h6>
            <div *ngFor="let tipo of tipoDocumentos" class="form-check">
              <input class="form-check-input" type="checkbox" [id]="tipo" [(ngModel)]="selectedTipoDocumentos[tipo]"
                (change)="filter()" />
              <label class="form-check-label" [for]="tipo">{{ tipo }}</label>
            </div>
          </div>
        </div>
      </aside>

      <!-- listagem -->
      <main class="pm-items col-12 col-lg-9">
        <div class="collection-page" *ngVar="(collectionRD$ | async) as collectionRD">
          <div *ngIf="collectionRD?.hasSucceeded" @fadeInOut>
            <div *ngIf="collectionRD?.payload as collection">
              <ds-comcol-page-browse-by [id]="collection.id" [contentType]="collection.type">
              </ds-comcol-page-browse-by>

              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </main>
    </div>
  </ng-container>

  <ng-template #loadingOrError>
    <ds-error *ngIf="rd?.hasFailed" message="Erro ao carregar coleção"></ds-error>
    <ds-loading *ngIf="rd?.isLoading" message="Carregando..."></ds-loading>
  </ng-template>
</div>