<section
  class="home-social-section"
  [ngStyle]="{
    'background-color': backgroundColor,
    'color': textColor
  }"
>

  <!-- TÍTULO -->
  <h2 class="social-title">
    Acesse mais conteúdos em:
  </h2>

  <div class="social-wrapper">

    <a href="https://www.youtube.com/@alfaejabrasil" target="_blank" rel="noopener noreferrer" class="social-item">
      <img src="assets/images/youtube.svg" alt="YouTube">
      <span>&#64;alfaejabrasil</span>
    </a>

    <a href="https://www.instagram.com/alfaejabrasil/" target="_blank" rel="noopener noreferrer" class="social-item">
      <img src="assets/images/instagram.svg" alt="Instagram">
      <span>&#64;alfaejabrasil</span>
    </a>

    <a href="https://www.facebook.com/alfaejabrasil/" target="_blank" rel="noopener noreferrer" class="social-item">
      <img src="assets/images/facebook.svg" alt="Facebook">
      <span>alfaejabrasil</span>
    </a>

    <a href="https://alfaejabrasil.org.br/" target="_blank" rel="noopener noreferrer" class="social-item-alfa">
      <img src="assets/images/alfa-eja.svg" alt="Site Alfa-EJA Brasil">
    </a>

  </div>

</section>
