<footer class="text-dark pt-4" style="background-color: #F1F1F1;">
  <div class="container text-justify mb-4">
    <h6 class="fw-bold mb-3 text-center">ACESSE MAIS CONTEÚDO EM:</h6>
    <div class="d-flex justify-content-center flex-wrap gap-3 mb-3">
      <a href="https://www.youtube.com/@alfaejabrasil" target="_blank" class="text-danger fs-4 d-flex align-items-center gap-1">
        <i class="fab fa-youtube"></i> <span>alfaejabrasil</span>
      </a>
      <a href="https://www.instagram.com/alfaejabrasil" target="_blank" class="text-danger fs-4 d-flex align-items-center gap-1">
        <i class="fab fa-instagram"></i> <span>alfaejabrasil</span>
      </a>
      <a href="https://www.facebook.com/alfaejabrasil" target="_blank" class="text-primary fs-4 d-flex align-items-center gap-1">
        <i class="fab fa-facebook"></i> <span>alfaejabrasil</span>
      </a>
    </div>
  </div>

  <div class="text-white pt-4 pb-2" style="background-color: #421944;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4 mb-3">
          <img src="assets/images/icone_alfa_eja_brasil_rodape.svg" alt="ALFA-EJA Brasil" class="mb-2" style="max-width: 150px;">
          <p>Educação para jovens, adultos e idosos</p>
        </div>
        <div class="col-md-3 mb-3">
          <ul class="list-unstyled">
            <li><a routerLink="/" class="text-white text-decoration-none d-block mb-1">Sobre o CREJAaaa</a></li>
            <li><a routerLink="/" class="text-white text-decoration-none d-block mb-1">Pesquisas e Memórias</a></li>
            <li><a routerLink="/" class="text-white text-decoration-none d-block mb-1">Práticas Alfabetizadoras</a></li>
            <li><a routerLink="/" class="text-white text-decoration-none d-block mb-1">Vozes</a></li>
            <li><a routerLink="/" class="text-white text-decoration-none d-block mb-1">Redes</a></li>
          </ul>
        </div>
        <div class="col-md-3 mb-3">
          <ul class="list-unstyled">
            <li><a routerLink="/" class="text-white text-decoration-none d-block mb-1">O projeto ALFA-EJA Brasil</a></li>
            <li><a routerLink="/" class="text-white text-decoration-none d-block mb-1">Termos de uso</a></li>
            <li><a routerLink="/" class="text-white text-decoration-none d-block mb-1">Políticas de privacidade</a></li>
            <li><a routerLink="/" class="text-white text-decoration-none d-block mb-1">Contato</a></li>
          </ul>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-6 mb-3">
          <p class="mb-1 fw-semibold text-center">Realização</p>
          <img src="assets/images/icone_ipf_rodape.svg" alt="Instituto Paulo Freire" class="mb-2 text-center" style="width: 30%; height: auto;">
        </div>
        <div class="col-md-6 mb-3">
          <p class="mb-1 fw-semibold text-center">Parceria</p>
          <img src="assets/images/icone_petrobras_rodape.svg" alt="Petrobras" style="width: 30%; height: auto;" class="text-center">
        </div>
      </div>
    </div>
  </div>

  <div class="text-white text-center py-2 small" style="background-color: #421944;">
    INSTITUTO DE EDUCAÇÃO E DIREITOS HUMANOS PAULO FREIRE | CNPJ 04.950.603/0001-05
  </div>
</footer>