<app-banner-alfaeja
  imageUrl="assets/images/alfa-eja/banner-alfa-eja.png"
  height="auto">
</app-banner-alfaeja>

<section id="informacoes-alfa-eja">
  <app-informacoes-alfaeja></app-informacoes-alfaeja>
</section>

<div class="container">
  <!-- Cabeçalho -->
  <div class="col-12 d-flex justify-content-center align-items-center">
    <h2 class="titulo-destaques">
      Destaques
    </h2>
  </div>

  <!-- Texto -->
 <div class="row justify-content-center mb-5">
  <div class="col-12 col-lg-9 col-xxl-8 text-center">
    <p class="section-lead mb-0" style="color: #787878; font-weight: 500; font-size: 20px;">
      Veja os destaques no CREJA que registram momentos históricos e inspiradores da Educação de Jovens e Adultos (EJA),
      evidenciando a atuação de Paulo Freire e experiências de alfabetização transformadora.
    </p>
  </div>
  </div>
</div>

<ds-destaques-mes></ds-destaques-mes>

<br>

<app-outras-comunidades></app-outras-comunidades>

<app-home-social></app-home-social>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
