<div class="redes-page">
    <div class="row justify-content-center">
        <div class="col-md-12 mb-4 d-flex justify-content-center align-items-center gap-3">
            <img src="assets/images/linha.svg" alt="linha" style="max-width: 150px;">
            <img src="assets/images/redes.svg" alt="Redes" style="max-width: 220px;">
            <img src="assets/images/linha.svg" alt="linha" style="max-width: 150px;">
        </div>
    </div>

    <p class="text-center mb-5" style="color: #787878; font-size: 1rem; font-family: Montserrat, sans-serif;">
        As Redes de EJA promovem o encontro, a interconexão de instituições, fóruns, centros de referência, coletivos, grupos de educadores, 
        grupos de educandos da EJA que fomentam a Educação de Jovens, Adultos e Idosos em todo o Brasil. Atuam em frentes diversas: formação de 
        educadores, disseminação de boas práticas pedagógicas, mobilização, articulação de sujeitos sociais e políticos para fortalecer políticas 
        públicas de EJA, preservação da memória da EJA e da Educação Popular.
        <br> 
        Clique para saber mais:
    </p>

    <div class="row mt-5">
        <div class="d-flex justify-content-center gap-4 col-md-12">
            <a href="https://www.google.com" target="_blank"> <img src="assets/images/foruns-de-eja.svg" alt="Fóruns de EJA" style="max-width: 100%; height: auto;"> </a>
            <a href="https://www.google.com" target="_blank"> <img src="assets/images/memorial-mova-brasil.svg" alt="Memorial MOVA Brasil" style="max-width: 100%; height: auto;"> </a>
            <a href="https://www.google.com" target="_blank"> <img src="assets/images/cremeja.svg" alt="Cremeja" style="max-width: 100%; height: auto;"> </a>
        </div>
    </div>
</div>