<section
  class="home-social-section"
  [ngStyle]="{
    'background-color': backgroundColor,
    'color': textColor
  }"
>

  <!-- TÍTULO -->
  <h2 class="social-title">
    Acesse mais conteúdos em:
  </h2>

  <div class="social-wrapper">

    <a href="https://www.youtube.com/@ipftvcanal" target="_blank" rel="noopener noreferrer" class="social-item">
      <img src="assets/images/youtube.svg" alt="YouTube">
      <span>&#64;ipftvcanal</span>
    </a>

    <a href="https://www.instagram.com/institutopaulofreire/" target="_blank" rel="noopener noreferrer" class="social-item">
      <img src="assets/images/instagram.svg" alt="Instagram">
      <span>institutopaulofreire</span>
    </a>

    <a href="https://www.facebook.com/InstitutoPauloFreireIPF" target="_blank" rel="noopener noreferrer" class="social-item">
      <img src="assets/images/facebook.svg" alt="Facebook">
      <span>InstitutoPauloFreireIPF</span>
    </a>

    <a href="https://www.paulofreire.org/" target="_blank" rel="noopener noreferrer" class="social-item">
      <img src="assets/images/ipf.svg" alt="Site">
      <span>www.paulofreire.org</span>
    </a>

  </div>

</section>
