<section class="outras-comunidades">

  <div class="outras-container">

    <!-- Coluna esquerda (texto) -->
    <div class="outras-texto">
      <h2>
        Explore as outras<br>
        comunidades<br>
        do CREJA
      </h2>

      <p>
        Estamos à disposição! Caso tenha dúvidas,
        sugestões ou queira compartilhar algo conosco,
        entre em contato.
      </p>
    </div>

    <!-- Card 1 -->
    <div class="outras-card">
      <h3>ALFA-EJA Brasil</h3>
      <p>
        Pesquisas, práticas alfabetizadoras e vozes da EJA desenvolvidas no projeto 
        ALFA-EJA Brasil, valorizando experiências educacionais.
      </p>

      <a routerLink="/home" class="btn-acessar">
        Acessar
      </a>
    </div>

    <!-- Card 2 -->
    <div class="outras-card">
      <h3>Paulo Freire</h3>
      <p>
        Memórias, pesquisas e práticas inspiradas na pedagogia freiriana,
        fortalecendo uma educação democrática e transformadora na EJA.
      </p>

      <a routerLink="/paulo-freire-home" class="btn-acessar">
        Acessar
      </a>
    </div>

  </div>

</section>