<section
  class="home-social-section"
  [ngStyle]="{
    'background-color': backgroundColor,
    'color': textColor
  }"
>

  <div class="social-wrapper">

    <a href="" target="_blank" class="social-item">
      <img src="assets/images/youtube.svg" alt="YouTube">
      <span>crejabrasil</span>
    </a>

    <a href="" target="_blank" class="social-item">
      <img src="assets/images/instagram.svg" alt="Instagram">
      <span>crejabrasil</span>
    </a>

    <a href="" target="_blank" class="social-item">
      <img src="assets/images/facebook.svg" alt="Facebook">
      <span>crejabrasil</span>
    </a>

  </div>

</section>
