<section class="saiba-mais-section">

  <div class="saiba-container">

    <h2>Sobre o CREJA</h2>

    <p>
      O Centro de Referência da Educação de Jovens e Adultos (CREJA) é um espaço
      dedicado à documentação, preservação e difusão das memórias da EJA no Brasil.
      Inspirado na pedagogia freiriana, o CREJA tem como objetivos:
    </p>

    <ul>
      <li>Fortalecer uma educação democrática, emancipadora e popular;</li>
      <li>Valorizar experiências, pesquisas e práticas de educadores e educandos;</li>
      <li>Tornar o conhecimento acessível como instrumento de transformação social.</li>
    </ul>

    <p>
      O repositório digital foi concebido para integrar diferentes tipos de materiais:
    </p>

    <ul>
      <li>Documentais;</li>
      <li>Testemunhais;</li>
      <li>Iconográficos;</li>
      <li>Bibliográficos.</li>
    </ul>

    <p>
      Dessa forma, busca ampliar o acesso público ao acervo e às produções desenvolvidas pelo CREJA.
    </p>

    <p>
      O repositório será organizado em três comunidades principais:
    </p>

    <ul>
      <li>CREJA Paulo Freire</li>
      <li>CREJA Instituto Paulo Freire</li>
      <li>CREJA ALFA-EJA</li>
    </ul>

    <p>
      Cada comunidade contará com três coleções:
    </p>

    <ul>
      <li>Pesquisas e Memórias</li>
      <li>Práticas Alfabetizadoras</li>
      <li>Vozes da EJA</li>
    </ul>

  </div>

</section>


<app-crejas></app-crejas>

<app-home-social></app-home-social>
