<section class="creja-hero">

  <div class="container hero-content">

    <div class="hero-left">
      <h1>
        <span class="highlight">CREJA</span> é um Centro de Referência da
        Educação de Jovens e Adultos
      </h1>

      <div class="hero-actions">
        <a 
          href="https://creja-test.alfaejabrasil.org.br/saiba-mais-creja"
          class="btn-saiba"
        >
          Saiba mais
        </a>

        <div class="hero-illustration">
          <img src="assets/images/banner-home-crejao.png"
              alt="Ilustração CREJA">
        </div>
      </div>
    </div>

    <div class="hero-right">
      <p>
        O CREJA é um espaço dedicado à preservação e difusão das memórias da Educação de Jovens e Adultos (EJA) no Brasil. 
        Inspirado na pedagogia freiriana, tem como propósito valorizar experiências e pesquisas, fortalecer uma educação 
        democrática e tornar o conhecimento acessível como instrumento de transformação social.
      </p>

      <p>
        Este repositório digital reúne e integra materiais documentais, testemunhais, iconográficos e bibliográficos, 
        ampliando o acesso público ao acervo e às produções do CREJA.
      </p>

      <p>
        Explore nossas comunidades: CREJA Paulo Freire, CREJA Instituto Paulo Freire e CREJA ALFA-EJA Brasil.
      </p>
    </div>

  </div>

</section>

<div class="divider-red"></div>

<section class="creja-stats">

  <div class="container stats-container">

    <div class="stat-item">
      <h2>{{ totalDocumentos }}+</h2>
      <p>Documentos sobre educação</p>
    </div>

    <div class="stat-item">
      <h2>{{ totalColaboradores }}+</h2>
      <p>Colaboradores</p>
    </div>

    <div class="stat-item">
      <h2>{{ totalAnos }}+</h2>
      <p>Anos em materiais históricos</p>
    </div>

  </div>

</section>