.creja-hero {
  background: #ffffff;
  padding: 100px 0;
}

/* =========================
   GRID PRINCIPAL
========================= */

.hero-content {
  align-items: start;
}


/* =========================
   COLUNA ESQUERDA
========================= */

.hero-left h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 1.15;
  color: #000;
  margin: 0;
}

.highlight {
  background-color: #FFE6ED;
  box-shadow: 8px 0 0 #FFE6ED, -8px 0 0 #FFE6ED;
  border-radius: 6px;
}

/* =========================
   BOTÃO + IMAGEM
========================= */

.hero-actions {
}

@media (max-width: 991.98px) {
  .hero-left, .botao-e-illustracao {
    display: contents;
  }

  #creja-hero-title {
    order: 1;
    padding-left: 15px;
    padding-right: 15px;
  }
  .hero-right {
    order: 2;
    padding-top: 20px;
  }
  .hero-actions {
    order: 3;
    padding-top: 20px;
  }
}

.botao-e-illustracao {
  padding-top: 98px;
}

.btn-saiba {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  padding: 14px 36px;
  border-radius: 40px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  background: linear-gradient(90deg, #A0183C 0%, #E07A8E 100%);
  transition: all .3s ease;
}

.btn-saiba:hover {
  transform: translateY(-2px);
  opacity: .9;
}

.hero-illustration img {
  width: 199px;
  height: 153px;
  object-fit: contain;
  display: block;
}


/* =========================
   COLUNA DIREITA
========================= */

.hero-right {
  font-size: 1.25rem;
  color: black;
  line-height: 1.0;
}

.hero-right p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 18px;
}

/* =========================
   DIVIDER
========================= */

.divider-red {
  height: 6px;
  background: #A0183C;
}

/* =========================
   STATS
========================= */

.creja-stats {
  background: #A0183C;
  padding: 60px 0;
  color: white;
}


.stat-item h2 {
  font-family: 'Besley', serif;
  font-weight: 700;        // Bold
  font-size: 4rem;         // conforme Figma
  line-height: 1.08;       // 108%
  letter-spacing: 0;
  color: #ffcc00;
  margin-bottom: 10px;
}

.stat-item p {
  font-family: 'Besley', serif;
  font-weight: 400;      // Regular
  font-size: 1.25rem;
  line-height: 1.3;     // 108%
  letter-spacing: 0;
  color: #F7D5DD;
}
