<section class="creja-hero">

  <div class="container hero-content">
    <div class="row">
      <div class="hero-left col-lg-6">
        <h1 id="creja-hero-title">
          <span class="highlight">CREJA</span> é um Centro de Referência da
          Educação de Jovens e Adultos
        </h1>
        <div class="row justify-content-between botao-e-illustracao text-center text-lg-left">
          <div class="hero-actions col-lg-6">
            <a 
              routerLink="/saiba-mais-creja"
              class="btn-saiba"
            >
              Saiba mais
            </a>
          </div>
          <div class="hero-illustration col-lg-6 d-none d-lg-flex align-items-end">
            <img src="assets/images/banner-home-crejao.png" class="mx-auto"
                alt="Ilustração CREJA">
          </div>
        </div>
      </div>
  
      <div class="hero-right col-lg-6 p-lg-0">
        <p>
          O CREJA é um espaço dedicado à preservação e difusão das memórias da Educação de Jovens e Adultos (EJA) no Brasil. 
          Inspirado na pedagogia freiriana, tem como propósito valorizar experiências e pesquisas, fortalecer uma educação 
          democrática e tornar o conhecimento acessível como instrumento de transformação social.
        </p>
  
        <p>
          Este repositório digital reúne e integra materiais documentais, testemunhais, iconográficos e bibliográficos, 
          ampliando o acesso público ao acervo e às produções do CREJA.
        </p>
  
        <p>
          Explore nossas comunidades: CREJA Paulo Freire, CREJA Instituto Paulo Freire e CREJA ALFA-EJA Brasil.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="divider-red"></div>

<section class="creja-stats">
  <div class="container stats-container">
    <div class="row gap-4 justify-content-center text-lg-left text-center">
      <div class="stat-item col-lg-3 col-12">
        <h2>{{ totalDocumentos }}+</h2>
        <p>Documentos sobre educação</p>
      </div>
  
      <div class="stat-item col-lg-3 col-12">
        <h2>{{ totalColaboradores }}+</h2>
        <p>Colaboradores</p>
      </div>
  
      <div class="stat-item col-lg-3 col-12">
        <h2>{{ totalAnos }}+</h2>
        <p>Anos em materiais históricos</p>
      </div>
    </div>
  </div>
</section>