.creja-hero {
  background: #ffffff;
  padding: 100px 0;
}

/* =========================
   GRID PRINCIPAL
========================= */

.hero-content {
  display: grid;
  grid-template-columns: 47% 53%; /* 🔥 direita ligeiramente maior */
  gap: 70px;
  align-items: start;
}


/* =========================
   COLUNA ESQUERDA
========================= */

.hero-left h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.15;
  color: #000;
  margin: 0;
}

.highlight {
  background-color: #f2c9cf;
  padding: 4px 8px;
  border-radius: 6px;
}

/* =========================
   BOTÃO + IMAGEM
========================= */

.hero-actions {
  margin-top: 35px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.btn-saiba {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 14px 36px;
  border-radius: 40px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  background: linear-gradient(90deg, #A0183C 0%, #E07A8E 100%);
  transition: all .3s ease;
}

.btn-saiba:hover {
  transform: translateY(-2px);
  opacity: .9;
}

.hero-illustration img {
  width: 199px;
  height: 153px;
  object-fit: contain;
  display: block;
  transform: translate(120px, 10px); 
}


/* =========================
   COLUNA DIREITA
========================= */

.hero-right {
  font-size: 20px;
  color: black;
  line-height: 1.0;
  max-width: 510px;
}

.hero-right p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 18px;
}

/* =========================
   DIVIDER
========================= */

.divider-red {
  height: 6px;
  background: #A0183C;
}

/* =========================
   STATS
========================= */

.creja-stats {
  background: #A0183C;
  padding: 60px 0;
  color: white;
}

.stats-container {
  display: flex;
  justify-content: center;  /* centraliza o bloco */
  gap: 100px;               /* 🔥 gap fixo */
  text-align: center;
}


.stat-item h2 {
  font-family: 'Besley', serif;
  font-weight: 700;        // Bold
  font-size: 64px;         // conforme Figma
  line-height: 1.08;       // 108%
  letter-spacing: 0;
  color: #ffcc00;
  margin-bottom: 10px;
}

.stat-item p {
  font-family: 'Besley', serif;
  font-weight: 400;      // Regular
  font-size: 20px;
  line-height: 1.3;     // 108%
  letter-spacing: 0;
  color: #F7D5DD;
}
