@include media-breakpoint-down(md) {
  ds-themed-configuration-search-page + .container {
    width: 100%;
    max-width: none;
  }
}

.custom-container {
  max-width: 100%;
  padding-left: 0rem;
  padding-right: 0rem;
}
