@include media-breakpoint-down(md) {
  ds-themed-configuration-search-page + .container {
    width: 100%;
    max-width: none;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.custom-container {
  max-width: 100%;
  padding-left: 0rem;
  padding-right: 0rem;
}

#destaquesCarousel {
  .carousel-indicators {
    position: relative;  // sai do absolute
    bottom: auto;        // remove o bottom: 0
    margin: 1.5rem 0 0;  // espaço acima e zero embaixo
    justify-content: center; // centraliza os botões

    button {
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      background-color: #000;
      opacity: 0.4;
      margin: 0 0.25rem;
    }
    .active {
      opacity: 1;
    }
  }
}

.texto-destaque {
  padding-left: 4rem;
  padding-right: 15rem;
}

body, button, input, select, textarea {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;  /* Medium */
}
