<!--<ds-home-coar></ds-home-coar>
<ds-home-news></ds-home-news>
<ds-configuration-search-page *ngIf="showDiscoverFilters"
                              [sideBarWidth]="3"
                              [showViewModes]="false"
                              [searchEnabled]="false"
                              [inPlaceSearch]="false"
                              [showScopeSelector]="false">
  <ng-container searchContentTop *ngTemplateOutlet="homeContent"></ng-container>
</ds-configuration-search-page> -->

<div id="destaquesCarousel" class="carousel slide container-fluid py-5" style="background-color: #D9D9D9;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row align-items-center px-5">
        <!-- Coluna do Texto -->
        <div class="col-md-6 text-start texto-destaque" style="color: #787878;">
          <h2 style="font-size: 2.5rem; font-weight: 500; margin-bottom: 1rem;">
            Lorem Ipsum
          </h2>
          <p style="font-size: 1.7rem; line-height: 1.6;">
            O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. 
            O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias 
            desde o ano de 1500
          </p>
        </div>
        <!-- Coluna do Vídeo -->
        <div class="col-md-6 d-flex justify-content-center">
          <iframe
            src="https://www.youtube.com/embed/afmOqvJBsLE"
            title="YouTube video"
            allowfullscreen
            style="
              border: 0;
              border-radius: 12px;
              width: 100%;
              max-width: 700px;
              height: 394px;
            ">
          </iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#destaquesCarousel" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#destaquesCarousel" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#destaquesCarousel" data-bs-slide-to="2"></button>
  </div>
</div>


<div *ngIf="!showDiscoverFilters" class="container">
  <ng-container *ngTemplateOutlet="homeContent"></ng-container>
</div>
<ds-suggestions-popup></ds-suggestions-popup> 

<ng-template #homeContent>
  <ng-container *ngIf="(site$ | async) as site">
    <ds-view-tracker [object]="site"></ds-view-tracker>
  </ng-container>
  <!--<ds-search-form [inPlaceSearch]="false"
                         [searchPlaceholder]="'Digite aqui o que você procura'">
  </ds-search-form> -->
  <!-- <ds-top-level-community-list></ds-top-level-community-list>
  <ds-recent-item-list *ngIf="recentSubmissionspageSize>0"></ds-recent-item-list> -->
  
  <!-- <ds-filtro-pesquisa></ds-filtro-pesquisa> -->
</ng-template>

<div class="row justify-content-center my-4">
  <div class="col-md-12 my-4 d-flex justify-content-center align-items-center gap-3">
    <img src="assets/images/linha.svg" alt="linha" style="max-width: 150px;">
    <img src="assets/images/Destaques.svg" alt="ALFA-EJA Brasil" style="max-width: 300px;">
    <img src="assets/images/linha.svg" alt="linha" style="max-width: 150px;">
  </div>
</div>

<div class="row justify-content-center mb-5">
  <div class="col-lg-8 text-center">
    <p class="lead" style="color: #787878; font-size: 1.4rem; font-family: Montserrat, sans-serif;">
      O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500
    </p>
  </div>
</div>

<ds-destaques-mes></ds-destaques-mes>
