<section class="informacoes-alfaeja">

  <div class="informacoes-container">

    <div class="info-bloco">
      <h2>Sobre o CREJA Instituto Paulo Freire</h2>
      <p>
        O CREJA Instituto Paulo Freire tem como propósito
        fortalecer uma educação democrática, emancipadora e
        popular. Inspirado na pedagogia freiriana, o espaço promove
        o diálogo entre saberes e oferece subsídios teóricos e práticos
        a educadores e comunidades. Ao reunir experiências e
        metodologias críticas pelas quais o Instituto Paulo Freire
        desenvolve em sua atuação, contribui para a formação de
        sujeitos autônomos e comprometidos com a transformação
        social.
      </p>
    </div>

    <div class="info-bloco">
      <h2>Como colaborar</h2>
      <p>
        O repositório do CREJA Instituto Paulo Freire é aberto a todas, todos e todes que desejam
        compartilhar saberes, acessar conteúdos e inspirar-se em práticas político-pedagógicas
        freirianas.
        Para contribuir com o acervo, envie seu material para
        <a href="mailto:acervo&#64;paulofreire.org">acervo&#64;paulofreire.org</a>.
        Cada colaboração fortalece  construção coletiva da memória e do futuro da EJA no Brasil.
      </p>
    </div>

    <div class="info-bloco">
      <h2>Fale conosco</h2>
      <p>
        Tem dúvidas, sugestões ou deseja colaborar de outra forma? Envie um e-mail para 
        <a href="mailto:acervo&#64;paulofreire.org">acervo&#64;paulofreire.org</a>.
        Retornaremos o mais breve possível. sua participação é essencial para o fortalecimento do CREJA Instituto Paulo Freire.
      </p>
    </div>

  </div>

</section>
