<section class="crejas-section">

  <div class="container">

    <div class="crejas-title">
    <img 
        src="assets/images/crejas-titulo.png" 
        alt="Explore as Comunidades do CREJA"
        class="crejas-title-img">
    </div>

    <div class="crejas-cards">

      <div class="creja-card">
        <h3>Paulo Freire</h3>
        <p>
          Memórias, pesquisas e práticas inspiradas na pedagogia freiriana,
          fortalecendo uma educação democrática e transformadora na EJA.
        </p>
        <a routerLink="/paulo-freire-home" class="creja-btn">
            Acessar
        </a>
      </div>

      <div class="creja-card">
        <h3>Instituto Paulo Freire</h3>
        <p>
          Produções e metodologias do Instituto Paulo Freire que promovem
          educação popular, emancipadora e o diálogo entre saberes.
        </p>
        <a routerLink="/ipf-home" class="creja-btn">
            Acessar
        </a>
      </div>

      <div class="creja-card">
        <h3>ALFA-EJA Brasil</h3>
        <p>
          Pesquisas, práticas alfabetizadoras e vozes da EJA desenvolvidas no
          projeto ALFA-EJA Brasil, valorizando experiências educacionais.
        </p>
        <a routerLink="/home" class="creja-btn">
            Acessar
        </a>
      </div>

    </div>

  </div>

</section>
