<section class="crejas-section">

  <div class="container">

    <div class="crejas-title">
    <img 
        src="assets/images/crejas-titulo.png" 
        alt="Explore as Comunidades do CREJA"
        class="crejas-title-img">
    </div>

    <div class="crejas-cards row">

      <div class="col-lg-4">
        <div class="creja-card">
          <h3>Paulo Freire</h3>
          <p>
            Memórias, pesquisas e práticas inspiradas na pedagogia freiriana,
            fortalecendo uma educação democrática e transformadora na EJA.
          </p>
          <a href="http://crejapf.paulofreire.org/" class="creja-btn">
              Acessar
          </a>
        </div>
      </div>

      <div class="col-lg-4 pt-lg-0 pt-4">
        <div class="creja-card">
          <h3>Instituto Paulo Freire</h3>
          <p>
            Produções e metodologias do Instituto Paulo Freire que promovem
            educação popular, emancipadora e o diálogo entre saberes.
          </p>
          <a href="http://crejaipf.paulofreire.org/" class="creja-btn">
              Acessar
          </a>
        </div>
      </div>

      <div class="col-lg-4 pt-lg-0 pt-4">
        <div class="creja-card">
          <h3>ALFA-EJA Brasil</h3>
          <p>
            Pesquisas, práticas alfabetizadoras e vozes da EJA desenvolvidas no
            projeto ALFA-EJA Brasil, valorizando experiências educacionais.
          </p>
          <a href="http://creja.alfaejabrasil.org.br/" class="creja-btn">
              Acessar
          </a>
        </div>
      </div>

    </div>

  </div>

</section>
