.introductory-text {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
    margin-top: 22px;
    color: #787878;
}
:host {
    font-family: 'Inter', sans-serif;
}